# Pandas
Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

In [2]:
import pandas as pd
import numpy as np
import os

## 1. Data Types
### 1.1 Numpy Array
A Numpy array is a 1 row array.

In [3]:
np.random.rand(3)
np.array([1,2,3])

array([1, 2, 3])

### 1.2 Series
Series is a one-dimensional labeled array (column) capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.  [Panda Series Documentation][1]

The basic method to create a Series is to call:

[1]:<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html> "Pandas Series"

In [4]:
pd.Series({'a1': 2, 'a2': 'b'}) # Using Dictionary
pd.Series([1, 'b'], index=['a1', 'a2']) # Using List of values and list index
pd.Series(5.1, index=['a', 'b', 'c']) # Using scalar

a    5.1
b    5.1
c    5.1
dtype: float64

#### 1.2.1 Slicing 
A series can be sliced

In [5]:
pd.Series([1,2,3], index=['a', 'b', 'c'])[0:2]

a    1
b    2
dtype: int64

As the series is indexed, it also behaves like a dictionary

In [6]:
pd.Series([1,2,3], index=['a', 'b', 'c'])['b']
pd.Series([1,2,3], index=['a', 'b', 'c']).get('d', np.NaN)
pd.Series([1,2,3], index=['a', 'b', 'c']).get('b')

2

#### 1.2.2 Basic Operations
Basic operations can be done in series without the need of iterating through each element. This operations allow both for using scalars as well as another series.
* Additions of a series with an scalar or another series
* Multiplication of a series with an scalar or another series

In [7]:
# Additions
pd.Series([1,2,3], index=['a', 'b', 'c']) + pd.Series([1,2,3,5], index=['a', 'b', 'c', 'd'])

a    2.0
b    4.0
c    6.0
d    NaN
dtype: float64

In [8]:
# Multiplication 
pd.Series([1,2,3], index=['a', 'b', 'c']) * pd.Series([1,2,3], index=['a', 'b', 'c'])

a    1
b    4
c    9
dtype: int64

### 1.3 Pandas DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, 

DataFrame accepts many different kinds of input:

- Dict of 1D ndarrays, lists, dicts, or Series
- 2-D numpy.ndarray
- Structured or record ndarray
- A Series
- Another DataFrame
Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of Series plus a specific index will discard all data not matching up to the passed index.

[DataFrame Documentation][1]

[1]:<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html> "Pandas DataFrame"

In [9]:
# Union of 2 dict of Series 
d = {
    'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])
}
pd.DataFrame(d)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [10]:
# Union of 2 Dict of dicts
d = {
    'one': {'a':1, 'b':2}, 
    'two': {'a':1, 'c':'d'}
}
pd.DataFrame(d)

   one  two
a  1.0    1
b  2.0  NaN
c  NaN    d

## 2. Getting data
Data can be obtained by using built-in functions such as:
* `pd.read_csv()`
* `pd_read_excel()`
* `pd_read_sql`

[IO documentation][1]  

[1]: <https://pandas.pydata.org/pandas-docs/stable/reference/io.html>

In [11]:
players_df = pd.read_csv('./data/Master.csv')
# columns_to_use = ['id', 'title', 'artist', 'medium']
'''
df_sample_c =pd.read_csv(os.path.join('.', 'collection-master', 'artwork_data.csv'), 
    nrows=5, index_col='id', usecols=columns_to_use)
'''
players_df.head(2)

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN

## 3. Getting basic information
### 3.1 Basic info dataframe
* **Shape** gives the number of rows x columns in a tuple [Shape Documentation][1]
* **Info** gives detailed info on each label [Info Documentation][2]  
* **Describe** gives basic statistics on numeric columns, or all columns if `include='all' `  [Describe Documentation][3]
* **nUnique** gives the number of unique records per column [nUnique Docs][4]

[1]:<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html> "Shape Documentation"
[2]:<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html> "Info Documentation"
[3]:<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html> "Describe Documentation"
[4]:<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html> "N unique Documentation"

In [12]:
players_df.shape

(7761, 31)

In [13]:
players_df.describe()

,height,weight,ihdbID,firstNHL,lastNHL,firstWHA,lastWHA,birthYear,birthMon,birthDay,deathYear,deathMon,deathDay
count,7334.000000,7336.000000,7125.000000,6851.000000,6851.000000,903.000000,903.000000,7543.000000,7506.000000,7504.000000,1320.000000,1173.000000,1168.000000
mean,71.904418,189.503953,18159.395930,1979.898555,1985.173551,1974.256921,1975.746401,1955.170091,6.056088,15.605144,2547.587121,6.670929,15.244863
std,2.328650,18.341611,22852.778006,24.150092,24.359206,2.123774,1.947460,26.379075,3.434267,8.917103,2052.311223,3.484605,8.601029
min,63.000000,125.000000,45.000000,1917.000000,1917.000000,1972.000000,1972.000000,1841.000000,1.000000,1.000000,1907.000000,1.000000,1.000000
25%,70.000000,178.000000,3339.000000,1968.000000,1974.000000,1972.000000,1974.000000,1943.000000,3.000000,8.000000,1970.000000,4.000000,8.000000
50%,72.000000,190.000000,7500.000000,1985.000000,1991.000000,1974.000000,1976.000000,1961.000000,6.000000,15.000000,1989.000000,7.000000,15.000000
75%,73.000000,200.000000,23463.000000,1999.000000,2006.000000,1976.000000,1978.000000,1975.000000,9.000000,23.000000,2002.000000,10.000000,23.000000
max,81.000000,265.000000,118280.000000,2011.000000,2011.000000,1978.000000,1978.000000,1993.000000,12.000000,31.000000,9999.000000,12.000000,31.000000

In [14]:
players_df.nunique().head()

playerID     7520
coachID       395
hofID         366
firstName    1241
lastName     5075
dtype: int64

### 3.2 Get basic info on a label

Obtain unique values per label
* Get unique values
* Count unique values
* Get statistics on a numeric column use `describe` on that column
* Get statistics values of other cols grouped by that column

In [15]:
len(players_df['pos'].unique())

19

Count of unique per column (alternative to `nunique`)

In [16]:
players_df.groupby('pos').size()

pos
C      1605
C/D       3
C/L       2
C/R       2
D      2218
D/C       1
D/L       2
D/R       1
F        43
G       761
L      1450
L/C       2
L/D       1
R      1348
R/C       5
R/D       1
R/L       1
W         1
dtype: int64

In [17]:
players_df['height'].describe()

count    7334.000000
mean       71.904418
std         2.328650
min        63.000000
25%        70.000000
50%        72.000000
75%        73.000000
max        81.000000
Name: height, dtype: float64

## 4. Indexing and Filtering
### 4.1 Drop Records
#### 4.1.1 Based on a condition

* Using boolean condition either with [], or loc filtering

In [18]:
players_df_trim_df[players_df_trim_df['birthDay']==4].head()

NameError: name 'players_df_trim_df' is not defined

In [19]:
players_df_trim_df = players_df.loc[players_df['lastNHL']>=1980]
players_df_trim_df.shape

(4627, 31)

#### 4.1.2 DropNA

In [20]:
# records
orig_players_df = players_df_trim_df.copy()
players_df_trim_df = players_df_trim_df.dropna(subset=['playerID'])
players_df_trim_df.shape

(4627, 31)

In [21]:
# how determines only removing those where both are NA
players_df = players_df.dropna(subset=['firstNHL', 'lastNHL'], how='all')
players_df.shape

(6851, 31)

### 4.3 Drop columns
There are multiple ways to drop columns:
* By selecting the columns to drop with the [Drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) function
* By filtering the columns to retain:
    * Using simple selection syntax, `df = df[[columns_to_keep]]` or `df=df.loc[:, [columns_to_keep]]`
    * use [filter](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html)

In [22]:
players_df.drop(columns='birthDay', axis=1, inplace=True, errors='ignore')

### 4.4 Record Selection
#### 4.4.1 Iloc
Integer location `iloc` allows to query by row number. [Iloc Documentation][1]

[1]:<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html>  "Iloc Documentation"

In [23]:
players_df_trim_df.iloc[0:3]

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN
9,abidra01,NaN,NaN,Ramzi,Abid,NaN,NaN,NaN,74.0,210.0,...,24.0,Canada,QC,Montreal,NaN,NaN,NaN,NaN,NaN,NaN

or using a boolean array (`df.values` returns array)

In [24]:
players_df_trim_df.iloc[(players_df_trim_df['birthYear']>1990).values].head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
174,ashtoca01,NaN,NaN,Carter,Ashton,NaN,NaN,NaN,75.0,215.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,baertsv01,NaN,NaN,Sven,Baertschi,NaN,NaN,NaN,70.0,181.0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,barrity01,NaN,NaN,Tyson,Barrie,NaN,NaN,NaN,70.0,190.0,...,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,bulmebr01,NaN,NaN,Brett,Bulmer,NaN,NaN,NaN,75.0,185.0,...,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
900,burmial01,NaN,NaN,Alexander,Burmistrov,NaN,NaN,NaN,71.0,170.0,...,21.0,Russia,NaN,Kazan,NaN,NaN,NaN,NaN,NaN,NaN

#### LOC
location is used to:
* filter by the index
* or using a boolean array... the later can be used to get reduce the df

In [25]:
players_df_trim_df.loc[1106]

playerID        charazd01
coachID               NaN
hofID                 NaN
firstName           Zdeno
lastName            Chara
nameNote              NaN
nameGiven           Zdeno
nameNick            Big Z
height                 81
weight                255
shootCatch              L
legendsID           11560
ihdbID              28487
hrefID          charazd01
firstNHL             1997
lastNHL              2011
firstWHA              NaN
lastWHA               NaN
pos                     D
birthYear            1977
birthMon                3
birthDay               18
birthCountry     Slovakia
birthState            NaN
birthCity         Trencin
deathYear             NaN
deathMon              NaN
deathDay              NaN
deathCountry          NaN
deathState            NaN
deathCity             NaN
Name: 1106, dtype: object

In [26]:
players_df_trim_df.loc[(players_df['birthYear']>1992), ['playerID', 'birthYear']]

       playerID  birthYear
5234  nugenry01     1993.0
6280  scheima01     1993.0
7737  zibanmi01     1993.0

In [27]:
players_df_trim_df = players_df_trim_df.filter(regex='(playerID|pos|^birth)|(Name$)', axis=1)
list(players_df_trim_df.columns)

['playerID',
 'firstName',
 'lastName',
 'pos',
 'birthYear',
 'birthMon',
 'birthDay',
 'birthCountry',
 'birthState',
 'birthCity']

### Pipe
Applies formula to df

In [28]:
players_df_trim_df['birthYear'].pipe(lambda a : a > 1985).value_counts()

False    4061
True      566
Name: birthYear, dtype: int64

In [29]:
def mem_mib(df):
    print('{0:,.2f} MiB'.format(df.memory_usage().sum()/1024**2))

In [30]:
mem_mib(players_df)

mem_mib(players_df_trim_df)

1.93 MiB
0.54 MiB

## Categories

In [31]:
players_df_trim_df.loc[:, 'pos']= pd.Categorical(players_df_trim_df['pos'])

In [32]:
players_df_trim_df.loc[:,'pos'].cat.categories

Index(['C', 'D', 'F', 'G', 'L', 'L/C', 'R'], dtype='object')

In [33]:
players_df_trim_df.loc[:, 'birthCountry']= pd.Categorical(players_df_trim_df['birthCountry'])
players_df_trim_df.loc[:, 'birthState']= pd.Categorical(players_df_trim_df['birthState'])

In [34]:
players_df_trim_df.loc[players_df_trim_df['birthCountry']=='Canada'].describe()

         birthYear     birthMon     birthDay
count  2750.000000  2750.000000  2750.000000
mean   1969.776000     5.819273    15.597091
std      10.771039     3.370813     8.924557
min    1940.000000     1.000000     1.000000
25%    1961.000000     3.000000     8.000000
50%    1969.000000     5.000000    15.000000
75%    1979.000000     9.000000    23.000000
max    1992.000000    12.000000    31.000000

In [35]:
players_df_trim_df.loc[:, 'birthCountry'].value_counts().head(2)

Canada    2750
USA        773
Name: birthCountry, dtype: int64

## Change index

In [36]:
players_df_trim_df = players_df_trim_df.set_index('playerID')

<https://mkaz.blog/code/python-string-format-cookbook/>

# Scores

In [37]:
score_df = pd.read_csv('./data/Scoring.csv')
score_df.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
0,aaltoan01,1997,1,ANA,NHL,C,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aaltoan01,1998,1,ANA,NHL,C,73.0,3.0,5.0,8.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aaltoan01,1999,1,ANA,NHL,C,63.0,7.0,11.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaltoan01,2000,1,ANA,NHL,C,12.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abbeybr01,1975,1,CIN,WHA,D,17.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
score_df = score_df.loc[(score_df["lgID"]=='NHL')&(score_df['year']>=1980)]

In [39]:
score_df = score_df.filter(regex='^(?!(Post|PP|SH)).*')
score_df['tmID'] = pd.Categorical(score_df['tmID'])
score_df =score_df.loc[:,['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG']]
score_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28616 entries, 0 to 45966
Data columns (total 8 columns):
playerID    28616 non-null object
year        28616 non-null int64
tmID        28616 non-null category
GP          28508 non-null float64
G           28508 non-null float64
A           28508 non-null float64
Pts         28508 non-null float64
SOG         28508 non-null float64
dtypes: category(1), float64(5), int64(1), object(1)
memory usage: 1.8+ MB

In [40]:
score_df.index

Int64Index([    0,     1,     2,     3,     7,     8,     9,    10,    11,
               38,
            ...
            45957, 45958, 45959, 45960, 45961, 45962, 45963, 45964, 45965,
            45966],
           dtype='int64', length=28616)

reset index, restarts the index to be a sequence.

In [41]:
score_df.reset_index(drop=True, inplace=True)

In [42]:
teams_df = pd.read_csv('./data/Teams.csv')

In [43]:
def recent_nhl(df):
    return df[(df['lgID']=='NHL')&(df['year']>1980)]

In [44]:
teams_df = recent_nhl(teams_df)

In [45]:
teams_df = teams_df[['year', 'tmID', 'name']]

In [46]:
teams_df.nunique()

year    30
tmID    37
name    37
dtype: int64

In [47]:
teams_split_df = pd.read_csv('./data/TeamSplits.csv')

In [48]:
teams_split_df = recent_nhl(teams_split_df)

In [49]:
teams_split_df.columns

Index(['year', 'lgID', 'tmID', 'hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT',
       'rOTL', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL', 'OctT',
       'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL', 'DecT',
       'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL', 'FebT',
       'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL', 'AprT',
       'AprOL'],
      dtype='object')

In [50]:
teams_split_df.columns[3:11]
teams_split_df.drop(columns=teams_split_df.columns[3:11], inplace=True)

In [51]:
teams_split_df.drop(columns=['lgID'], inplace=True)

In [52]:
teams_split_df['tmID'] = pd.Categorical(teams_split_df['tmID'])

In [53]:
players_df_trim_df.head(2)

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon

In [54]:
score_df.head(2)

    playerID  year tmID    GP    G    A  Pts   SOG
0  aaltoan01  1997  ANA   3.0  0.0  0.0  0.0   1.0
1  aaltoan01  1998  ANA  73.0  3.0  5.0  8.0  61.0

In [55]:
score_df = pd.merge(score_df, players_df_trim_df, how='left', left_on='playerID', right_index=True)

In [56]:
three_years = score_df.loc[
    (score_df['year']>2000) 
    & (score_df['year']<2004)]

In [57]:
three_years = three_years.drop_duplicates(subset=['playerID', 'year'])
three_years.shape

(2957, 17)

In [58]:
counts = three_years['playerID'].value_counts()
ids = counts[counts ==3].sample(5).index

In [59]:
df3 = three_years.loc[three_years['playerID'].isin(ids)]

In [60]:
basic_df3 = df3.loc[:, ['playerID', 'year', 'G']]

### Melt and Pivot
Pivot allows to convert a long Dataframe into a wider df based on a column (or index). [Docs][1]
Melt does the opposite, converts a wide df into a long one

[1]:<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html>

In [61]:
basic_df3.head()

        playerID  year    G
16254  mcallch01  2001  0.0
16255  mcallch01  2002  0.0
16257  mcallch01  2003  0.0
17100  mezeibr01  2001  0.0
17101  mezeibr01  2002  2.0

In [75]:
pivot = basic_df3.pivot(index='playerID', columns='year', values='G')
pivot.head()

year       2001  2002  2003
playerID
mcallch01   0.0   0.0   0.0
mezeibr01   0.0   2.0   0.0
nummite01  13.0   6.0   3.0
pyattta01  10.0  14.0   8.0
renbemi01  14.0  14.0  12.0

In [77]:
pivot.reset_index(inplace=True) ## As melt does not use the index
pivot.melt(id_vars='playerID', value_vars=[2001, 2002, 2003], value_name='G').head()

    playerID  year     G
0  mcallch01  2001   0.0
1  mezeibr01  2001   0.0
2  nummite01  2001  13.0
3  pyattta01  2001  10.0
4  renbemi01  2001  14.0

In [65]:
score_df = pd.merge(left=score_df, right=players_df[['playerID', 'firstName', 'lastName']], on='playerID')
score_df = score_df.set_index('playerID')

## Multi-index
Pandas allows for multi index <https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html>
This multiple indexes allows for some complex calculations, like obtaining the player that scored the most on each year
Grouping allows for a quick method to determine

In [86]:
# Obtain the max per player and year
score_df.groupby(['playerID', 'year'])['G'].max().head()

playerID   year
aaltoan01  1997    0.0
           1998    3.0
           1999    7.0
           2000    1.0
abdelju01  2007    0.0
Name: G, dtype: float64

In [87]:
mi = score_df.reset_index().set_index(['playerID', 'year'])
# Obtain the index of the max Goal per year
mi.groupby(level='year')['G'].idxmax().head()

year
1980    (bossymi01, 1980)
1981    (gretzwa01, 1981)
1982    (gretzwa01, 1982)
1983    (gretzwa01, 1983)
1984    (gretzwa01, 1984)
Name: G, dtype: object

In [89]:
# Query one record
mi.loc[('gretzwa01', 1981)]

,,tmID,GP,G,A,Pts,SOG,firstName_x,lastName_x,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,firstName_y,lastName_y
playerID,year,,,,,,,,,,,,,,,,,
gretzwa01,1981,EDM,80.0,92.0,120.0,212.0,369.0,Wayne,Gretzky,C,1961.0,1.0,26.0,Canada,ON,Brantford,Wayne,Gretzky

In [100]:
# Slicing multiple records (they need to be sorted first)
idx = pd.IndexSlice
mi2 = mi.sort_index()
mi2.loc[idx[:, 1997:1998], :].head() # obtain all records from 1997 to 1998

               tmID    GP     G     A   Pts    SOG firstName_x lastName_x pos  \
playerID  year
aaltoan01 1997  ANA   3.0   0.0   0.0   0.0    1.0       Antti      Aalto   C
          1998  ANA  73.0   3.0   5.0   8.0   61.0       Antti      Aalto   C
adamsgr02 1997  DAL  49.0  14.0  18.0  32.0   75.0        Greg      Adams   L
          1998  PHO  75.0  19.0  24.0  43.0  176.0        Greg      Adams   L
adamske01 1997  TOR   5.0   0.0   0.0   0.0    3.0       Kevyn      Adams   C

                birthYear  birthMon  birthDay birthCountry birthState  \
playerID  year
aaltoan01 1997     1975.0       3.0       4.0      Finland        NaN
          1998     1975.0       3.0       4.0      Finland        NaN
adamsgr02 1997     1963.0       8.0      15.0       Canada         BC
          1998     1963.0       8.0      15.0       Canada         BC
adamske01 1997     1974.0      10.0       8.0          USA         DC

                   birthCity firstName_y lastName_y
playerID  year
aaltoan01 1997  Lappeenranta       Antti      Aalto
          1998  Lappeenranta       Antti      Aalto
adamsgr02 1997        Nelson        Greg      Adams
          1998        Nelson        Greg      Adams
adamske01 1997    Washington       Kevyn      Adams

In [102]:
mi2.loc[idx['aaltoan01':'adamsgr02', 1997:1998], :].head() # obtain all records from 1997 to 1998 for players from aaltoan01 to 'adamsgr02'

               tmID    GP     G     A   Pts    SOG firstName_x lastName_x pos  \
playerID  year
aaltoan01 1997  ANA   3.0   0.0   0.0   0.0    1.0       Antti      Aalto   C
          1998  ANA  73.0   3.0   5.0   8.0   61.0       Antti      Aalto   C
adamsgr02 1997  DAL  49.0  14.0  18.0  32.0   75.0        Greg      Adams   L
          1998  PHO  75.0  19.0  24.0  43.0  176.0        Greg      Adams   L

                birthYear  birthMon  birthDay birthCountry birthState  \
playerID  year
aaltoan01 1997     1975.0       3.0       4.0      Finland        NaN
          1998     1975.0       3.0       4.0      Finland        NaN
adamsgr02 1997     1963.0       8.0      15.0       Canada         BC
          1998     1963.0       8.0      15.0       Canada         BC

                   birthCity firstName_y lastName_y
playerID  year
aaltoan01 1997  Lappeenranta       Antti      Aalto
          1998  Lappeenranta       Antti      Aalto
adamsgr02 1997        Nelson        Greg      Adams
          1998        Nelson        Greg      Adams

In [78]:
mi.index.names

FrozenList(['playerID', 'year'])

In [67]:
mi.index.levels[1]

Int64Index([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
            1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
            2002, 2003, 2005, 2006, 2007, 2008, 2009, 2010, 2011],
           dtype='int64', name='year')

In [68]:
mi.index.nlevels

2

In [69]:
mi.groupby(level='year')['G'].max().head()

year
1980    68.0
1981    92.0
1982    71.0
1983    87.0
1984    73.0
Name: G, dtype: float64

In [70]:
mi.groupby(level='year')['G'].idxmax().head()

year
1980    (bossymi01, 1980)
1981    (gretzwa01, 1981)
1982    (gretzwa01, 1982)
1983    (gretzwa01, 1983)
1984    (gretzwa01, 1984)
Name: G, dtype: object

In [71]:
mi.loc[mi.groupby(level='year')['G'].idxmax().head()]

               tmID    GP     G      A    Pts    SOG firstName_x lastName_x  \
playerID  year
bossymi01 1980  NYI  79.0  68.0   51.0  119.0  315.0        Mike      Bossy
gretzwa01 1981  EDM  80.0  92.0  120.0  212.0  369.0       Wayne    Gretzky
          1982  EDM  80.0  71.0  125.0  196.0  348.0       Wayne    Gretzky
          1983  EDM  74.0  87.0  118.0  205.0  324.0       Wayne    Gretzky
          1984  EDM  80.0  73.0  135.0  208.0  358.0       Wayne    Gretzky

               pos  birthYear  birthMon  birthDay birthCountry birthState  \
playerID  year
bossymi01 1980   R     1957.0       1.0      22.0       Canada         QC
gretzwa01 1981   C     1961.0       1.0      26.0       Canada         ON
          1982   C     1961.0       1.0      26.0       Canada         ON
          1983   C     1961.0       1.0      26.0       Canada         ON
          1984   C     1961.0       1.0      26.0       Canada         ON

                birthCity firstName_y lastName_y
playerID  year
bossymi01 1980   Montreal        Mike      Bossy
gretzwa01 1981  Brantford       Wayne    Gretzky
          1982  Brantford       Wayne    Gretzky
          1983  Brantford       Wayne    Gretzky
          1984  Brantford       Wayne    Gretzky

In [72]:
idx = pd.IndexSlice
mi2 = mi.sort_index()

In [73]:
mi2

               tmID    GP     G     A   Pts    SOG firstName_x   lastName_x  \
playerID  year
aaltoan01 1997  ANA   3.0   0.0   0.0   0.0    1.0       Antti        Aalto
          1998  ANA  73.0   3.0   5.0   8.0   61.0       Antti        Aalto
          1999  ANA  63.0   7.0  11.0  18.0  102.0       Antti        Aalto
          2000  ANA  12.0   1.0   1.0   2.0   18.0       Antti        Aalto
abdelju01 2007  DET   2.0   0.0   0.0   0.0    6.0      Justin   Abdelkader
          2008  DET   2.0   0.0   0.0   0.0    2.0      Justin   Abdelkader
          2009  DET  50.0   3.0   3.0   6.0   79.0      Justin   Abdelkader
          2010  DET  74.0   7.0  12.0  19.0  129.0      Justin   Abdelkader
          2011  DET  81.0   8.0  14.0  22.0  121.0      Justin   Abdelkader
abidra01  2002  PHO  30.0  10.0   8.0  18.0   52.0       Ramzi         Abid
          2002  PIT   3.0   0.0   0.0   0.0    7.0       Ramzi         Abid
          2003  PIT  16.0   3.0   2.0   5.0   35.0       Ramzi         Abid
          2005  ATL   6.0   0.0   2.0   2.0    6.0       Ramzi         Abid
          2006  NAS  13.0   1.0   4.0   5.0   12.0       Ramzi         Abid
abrahth01 1980  HAR  32.0   6.0  11.0  17.0   66.0      Thommy  Abrahamsson
actonke01 1980  MTL  61.0  15.0  24.0  39.0  101.0       Keith        Acton
          1981  MTL  78.0  36.0  52.0  88.0  218.0       Keith        Acton
          1982  MTL  78.0  24.0  26.0  50.0  154.0       Keith        Acton
          1983  MTL   9.0   3.0   7.0  10.0   14.0       Keith        Acton
          1983  MNS  62.0  17.0  38.0  55.0  151.0       Keith        Acton
          1984  MNS  78.0  20.0  38.0  58.0  167.0       Keith        Acton
          1985  MNS  79.0  26.0  32.0  58.0  169.0       Keith        Acton
          1986  MNS  78.0  16.0  29.0  45.0  126.0       Keith        Acton
          1987  MNS  46.0   8.0  11.0  19.0   49.0       Keith        Acton
          1987  EDM  26.0   3.0   6.0   9.0   26.0       Keith        Acton
          1988  EDM  46.0  11.0  15.0  26.0   74.0       Keith        Acton
          1988  PHI  25.0   3.0  10.0  13.0   38.0       Keith        Acton
          1989  PHI  69.0  13.0  14.0  27.0   94.0       Keith        Acton
          1990  PHI  76.0  14.0  23.0  37.0  120.0       Keith        Acton
          1991  PHI  50.0   7.0  10.0  17.0   79.0       Keith        Acton
...             ...   ...   ...   ...   ...    ...         ...          ...
zubruda01 2003  WAS  54.0  12.0  15.0  27.0  115.0     Dainius       Zubrus
          2005  WAS  71.0  23.0  34.0  57.0  181.0     Dainius       Zubrus
          2006  WAS  60.0  20.0  32.0  52.0  127.0     Dainius       Zubrus
          2006  BUF  19.0   4.0   4.0   8.0   31.0     Dainius       Zubrus
          2007  NJD  82.0  13.0  25.0  38.0  128.0     Dainius       Zubrus
          2008  NJD  82.0  15.0  25.0  40.0  130.0     Dainius       Zubrus
          2009  NJD  51.0  10.0  17.0  27.0   86.0     Dainius       Zubrus
          2010  NJD  79.0  13.0  17.0  30.0  115.0     Dainius       Zubrus
          2011  NJD  82.0  17.0  27.0  44.0  109.0     Dainius       Zubrus
zuccama01 2010  NYR  42.0   6.0  17.0  23.0   74.0        Mats   Zuccarello
          2011  NYR  10.0   2.0   1.0   3.0   10.0        Mats   Zuccarello
zuckeja01 2011  MIN   6.0   0.0   2.0   2.0   10.0       Jason       Zucker
zukemi01  1980  STL  74.0  24.0  44.0  68.0  145.0        Mike         Zuke
          1981  STL  76.0  13.0  40.0  53.0  159.0        Mike         Zuke
          1982  STL  43.0   8.0  16.0  24.0   58.0        Mike         Zuke
          1983  HAR  75.0   6.0  23.0  29.0   84.0        Mike         Zuke
          1984  HAR  67.0   4.0  12.0  16.0   54.0        Mike         Zuke
          1985  HAR  17.0   0.0   2.0   2.0    2.0        Mike         Zuke
zyuzian01 1997  SJS  56.0   6.0   7.0  13.0   72.0      Andrei       Zyuzin
          1998  SJS  25.0   3.0   1.0   4.0   44.0      Andrei       Zyuzin
          1999  TBL  34.0   2.0   9.0  11.0   47.0      Andrei       Zyuzin
          2000  TBL  64.0   4.0  16.0  20.0   92.0      Andrei       Zyuzin
          2001  TBL   9.0   0.0   2.0   2.0   14.0      Andrei       Zyuzin
          2001  NJD  38.0   1.0   2.0   3.0   47.0      Andrei       Zyuzin
          2002  NJD   1.0   0.0   1.0   1.0    0.0      Andrei       Zyuzin
          2002  MIN  66.0   4.0  12.0  16.0  113.0      Andrei       Zyuzin
          2003  MIN  65.0   8.0  13.0  21.0  104.0      Andrei       Zyuzin
          2005  MIN  57.0   7.0  11.0  18.0   80.0      Andrei       Zyuzin
          2006  CAL  49.0   1.0   5.0   6.0   36.0      Andrei       Zyuzin
          2007  CHI  32.0   2.0   3.0   5.0   34.0      Andrei       Zyuzin

               pos  birthYear  birthMon  birthDay birthCountry birthState  \
playerID  year
aaltoan01 1997   C     1975.0       3.0       4.0      Finland        NaN
          1998   C     1975.0       3.0       4.0      Finland        NaN
          1999   C     1975.0       3.0       4.0      Finland        NaN
          2000   C     1975.0       3.0       4.0      Finland        NaN
abdelju01 2007   L     1987.0       2.0      25.0          USA         MI
          2008   L     1987.0       2.0      25.0          USA         MI
          2009   L     1987.0       2.0      25.0          USA         MI
          2010   L     1987.0       2.0      25.0          USA         MI
          2011   L     1987.0       2.0      25.0          USA         MI
abidra01  2002   L     1980.0       3.0      24.0       Canada         QC
          2002   L     1980.0       3.0      24.0       Canada         QC
          2003   L     1980.0       3.0      24.0       Canada         QC
          2005   L     1980.0       3.0      24.0       Canada         QC
          2006   L     1980.0       3.0      24.0       Canada         QC
abrahth01 1980   D     1947.0       4.0      12.0       Sweden        NaN
actonke01 1980   C     1958.0       4.0      15.0       Canada         ON
          1981   C     1958.0       4.0      15.0       Canada         ON
          1982   C     1958.0       4.0      15.0       Canada         ON
          1983   C     1958.0       4.0      15.0       Canada         ON
          1983   C     1958.0       4.0      15.0       Canada         ON
          1984   C     1958.0       4.0      15.0       Canada         ON
          1985   C     1958.0       4.0      15.0       Canada         ON
          1986   C     1958.0       4.0      15.0       Canada         ON
          1987   C     1958.0       4.0      15.0       Canada         ON
          1987   C     1958.0       4.0      15.0       Canada         ON
          1988   C     1958.0       4.0      15.0       Canada         ON
          1988   C     1958.0       4.0      15.0       Canada         ON
          1989   C     1958.0       4.0      15.0       Canada         ON
          1990   C     1958.0       4.0      15.0       Canada         ON
          1991   C     1958.0       4.0      15.0       Canada         ON
...             ..        ...       ...       ...          ...        ...
zubruda01 2003   R     1978.0       6.0      16.0    Lithuania        NaN
          2005   R     1978.0       6.0      16.0    Lithuania        NaN
          2006   R     1978.0       6.0      16.0    Lithuania        NaN
          2006   R     1978.0       6.0      16.0    Lithuania        NaN
          2007   R     1978.0       6.0      16.0    Lithuania        NaN
          2008   R     1978.0       6.0      16.0    Lithuania        NaN
          2009   R     1978.0       6.0      16.0    Lithuania        NaN
          2010   R     1978.0       6.0      16.0    Lithuania        NaN
          2011   R     1978.0       6.0      16.0    Lithuania        NaN
zuccama01 2010   L     1987.0       9.0       1.0       Norway        NaN
          2011   L     1987.0       9.0       1.0       Norway        NaN
zuckeja01 2011   L     1992.0       1.0      16.0          NaN        NaN
zukemi01  1980   C     1954.0       4.0      16.0       Canada         ON
          1981   C     1954.0       4.0      16.0       Canada         ON
          1982   C     1954.0       4.0      16.0       Canada         ON
          1983   C     1954.0       4.0      16.0       Canada         ON
          1984   C     1954.0       4.0      16.0       Canada         ON
          1985   C     1954.0       4.0      16.0       Canada         ON
zyuzian01 1997   D     1978.0       1.0      21.0       Russia        NaN
          1998   D     1978.0       1.0      21.0       Russia        NaN
          1999   D     1978.0       1.0      21.0       Russia        NaN
          2000   D     1978.0       1.0      21.0       Russia        NaN
          2001   D     1978.0       1.0      21.0       Russia        NaN
          2001   D     1978.0       1.0      21.0       Russia        NaN
          2002   D     1978.0       1.0      21.0       Russia        NaN
          2002   D     1978.0       1.0      21.0       Russia        NaN
          2003   D     1978.0       1.0      21.0       Russia        NaN
          2005   D     1978.0       1.0      21.0       Russia        NaN
          2006   D     1978.0       1.0      21.0       Russia        NaN
          2007   D     1978.0       1.0      21.0       Russia        NaN

                       birthCity firstName_y   lastName_y
playerID  year
aaltoan01 1997      Lappeenranta       Antti        Aalto
          1998      Lappeenranta       Antti        Aalto
          1999      Lappeenranta       Antti        Aalto
          2000      Lappeenranta       Antti        Aalto
abdelju01 2007          Muskegon      Justin   Abdelkader
          2008          Muskegon      Justin   Abdelkader
          2009          Muskegon      Justin   Abdelkader
          2010          Muskegon      Justin   Abdelkader
          2011          Muskegon      Justin   Abdelkader
abidra01  2002          Montreal       Ramzi         Abid
          2002          Montreal       Ramzi         Abid
          2003          Montreal       Ramzi         Abid
          2005          Montreal       Ramzi         Abid
          2006          Montreal       Ramzi         Abid
abrahth01 1980           Leksand      Thommy  Abrahamsson
actonke01 1980       Stouffville       Keith        Acton
          1981       Stouffville       Keith        Acton
          1982       Stouffville       Keith        Acton
          1983       Stouffville       Keith        Acton
          1983       Stouffville       Keith        Acton
          1984       Stouffville       Keith        Acton
          1985       Stouffville       Keith        Acton
          1986       Stouffville       Keith        Acton
          1987       Stouffville       Keith        Acton
          1987       Stouffville       Keith        Acton
          1988       Stouffville       Keith        Acton
          1988       Stouffville       Keith        Acton
          1989       Stouffville       Keith        Acton
          1990       Stouffville       Keith        Acton
          1991       Stouffville       Keith        Acton
...                          ...         ...          ...
zubruda01 2003        Elektrenai     Dainius       Zubrus
          2005        Elektrenai     Dainius       Zubrus
          2006        Elektrenai     Dainius       Zubrus
          2006        Elektrenai     Dainius       Zubrus
          2007        Elektrenai     Dainius       Zubrus
          2008        Elektrenai     Dainius       Zubrus
          2009        Elektrenai     Dainius       Zubrus
          2010        Elektrenai     Dainius       Zubrus
          2011        Elektrenai     Dainius       Zubrus
zuccama01 2010              Oslo        Mats   Zuccarello
          2011              Oslo        Mats   Zuccarello
zuckeja01 2011               NaN       Jason       Zucker
zukemi01  1980  Sault Ste. Marie        Mike         Zuke
          1981  Sault Ste. Marie        Mike         Zuke
          1982  Sault Ste. Marie        Mike         Zuke
          1983  Sault Ste. Marie        Mike         Zuke
          1984  Sault Ste. Marie        Mike         Zuke
          1985  Sault Ste. Marie        Mike         Zuke
zyuzian01 1997               Ufa      Andrei       Zyuzin
          1998               Ufa      Andrei       Zyuzin
          1999               Ufa      Andrei       Zyuzin
          2000               Ufa      Andrei       Zyuzin
          2001               Ufa      Andrei       Zyuzin
          2001               Ufa      Andrei       Zyuzin
          2002               Ufa      Andrei       Zyuzin
          2002               Ufa      Andrei       Zyuzin
          2003               Ufa      Andrei       Zyuzin
          2005               Ufa      Andrei       Zyuzin
          2006               Ufa      Andrei       Zyuzin
          2007               Ufa      Andrei       Zyuzin

[28616 rows x 17 columns]